{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not session.logged_in %}
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in. Welcome, {{ session.name }}!</p>
     <form action="get_userdata" method="get">
           <select name="by">
           <option value="email">Email</option>
           <option value="last_name">Last Name</option>
           <option value="first_name">First Name</option>
           <option value="major">Major</option>
           <option value="gender">Gender</option>
           </select>
        <input type="text" name="string">
        <input type="submit" value="Search">
     </form>
     <table class="w3-table-all" style="width:100%">
     <tr>
	<th>Email</th>
	<th>First Name</th>
	<th>Last Name</th>		
        <th>Gender</th>
	<th>Friend Count</th>
        <th>Time Zone</th>
        <th>Major</th>
     </tr>
     <tr>
     	<td>{{ session.email }}</td>
	<td>{{ session.first_name }}</td>
	<td>{{ session.last_name }}</td>
        <td>{{ session.gender }}</td>
	<td>{{ session.friends.summary.total_count }}</td>
        <td>{{ session.timezone }}</td>
        <td>{{ session.major }}</td>
     </tr>
     </table>
     <form action="extra_userdata" method="post">
         Major: <input type="text" name="extra_userdata">
         <input type="submit" value="Submit" action="/">
     </form>
{% endif %}
{% endblock %}
